.clear:after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-middle-center {
  justify-content: center;
  align-items: center;
}


