html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

em,i{
  font-style: normal;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #666;
  outline: none;
}
a:hover,
a:active {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

input {
  background: #fff;
  border: none;
  outline: none;
}

::placeholder {
  color: #999;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

img,
video {
  height: auto;
  max-width: 100%;
}


/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

main {
  display: block;
}
